.roulette-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    box-shadow: 0 0 10px #000;
}

.roulette-display {
    width: 500px;
    min-width: 500px;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.roulette-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(transparent 50%, black);
    border: 2px solid #565656;
}

.roulette-divider {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(transparent, #a17b07 10%, #a17b07 90%, transparent);
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.75);
}

.roulette-roller {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    margin-left: 0px;
    transition: margin-left 10s cubic-bezier(0.23, 0.78, 0.47, 0.97);
}