nav {
    background-color: #1F2026; /* sets background color of navbar */
    height: 70px; /* sets height of navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul {
    display: flex; /* display list items in a row */
    list-style: none; /* remove bullet points from list items */
    margin: 0; /* remove default margin */
    padding: 0; /* remove default padding */
}

nav ul li {
    padding: 0 20px; /* add padding to each list item */
}

nav ul li button {
    color: #85DED6; /* set text color of button */
    text-decoration: none; /* remove underline from button */
    font-size: 18px; /* sets font size of button */
    font-weight: bold; /* sets font weight of button */
    transition: all 0.1s ease-in-out; /* adds transition effect to button */
    background-color: transparent; /* remove background color of button */
    border: none; /* remove border of button */
    padding: 0; /* remove padding of button */
    height: 70px; /* sets the height of the button to match the navbar */
}

nav ul li button:hover {
    color: #1F2026; /* changes text color of button on hover */
    cursor: pointer;
    background-color: #85DED6; /* changes background color of button on hover */
    padding: 10px; /* adds padding to button on hover */
    border-radius: 5px; /* adds border radius to button on hover */
}

nav ul.nav-right {
    margin-left: auto;
}

nav ul.nav-right li {
    padding: 0 10px;
}