body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #00030c;
    height: 100%;
    scrollbar-base-color: #00030c;
    scrollbar-color: #00030c;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  body,
html {
  font-family: 'Poppins', sans-serif;
}





@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: local('Poppins'), url(./fonts/HanaleiFill-Regular.ttf) format('truetype');
}